/* Styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.board {
    display: inline-block;
    margin: 0.2vmin;
    text-align: center;
    vertical-align:bottom;
}

.cellContainer {
    display: inline-block;
    text-align: left;
}

.innerCellContainer {
    display: inline-block;
    text-align:left;
}

.leftCell{
    display: inline-block;
}

.topEntityText{
   writing-mode: ver;
   width: 3.5vmin;
   height: 10vmin;
   font-size: 1.5vmin;
}

.leftEntityText{
    display: inline-block;
    margin: 0;
    width: 10vmin;
    font-size: 1.5vmin;
 }

.leftCategoryText{
    writing-mode: vertical-lr;
    display: inline-block;
    width:3.5vmin;
    font-size: 2.5vmin;
    height: 14vmin;

}
.cell {
    width: 3.5vmin;
    height: 3.5vmin;
    line-height: 3.5vmin;
    border: 0.2vmin solid  #7e7474;
    display: inline-block;
    vertical-align: middle;
   
    cursor: pointer;
 
    /* Default color for unrevealed tiles */
    background-color: #ffffff;
 
    /* Default color for unrevealed tile text */
    color: #333;
    text-align: center;
    line-height: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselected {
    width: 3.5vmin;
    height: 3.5vmin;
    line-height: 3.5vmin;
    border: 0.3vmin solid  #7e7474;
    display: inline-block;
    vertical-align: middle;
   
    cursor: pointer;
 
    /* Default color for unrevealed tiles */
    background-color: #ffffff;
 
    /* Default color for unrevealed tile text */
    color: #333;
    text-align: center;
    line-height: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected {
    width: 3.5vmin;
    height: 3.5vmin;
    line-height: 3.5vmin;
    border: 0.7vmin solid  #2aac25;
    display: inline-block;
    vertical-align: middle;
   
    cursor: pointer;
 
    /* Default color for unrevealed tiles */
    background-color: #ffffff;
 
    /* Default color for unrevealed tile text */
    color: #333;
    text-align: center;
    line-height: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cell span, .selected span, .unselected span{
    /*vertical-align: middle;*/ 
    display: inline-block;
    /*line-height: normal;*/ 
    font-size: 3vmin;
}


.linked {

 
    /* Color for revealed tile text */
    color: #07551e;
}
.notlinked {
    /* Color for mines */
    color: #861414;
}

.linkedUnsure {

 
    /* Color for revealed tile text */
    color: #747474;
}
.notlinkedUnsure {
    /* Color for mines */
    color: #818181;
}

.boardRow {
    display: flex;
}

.puzzleArea{
    display: flex;
    margin: 5vmin, 10vmin;
    overflow-y: scroll;
}

h1 {
    font-size: 3vmin;
}

div {
    font-size: 2.5vmin;
}

ol {
    font-size: 2vmin;
    width: 30vmin;
}

li{
    text-align: left;
}


.strikedText {
    text-decoration: line-through;
    color:#861414
}

.button {
    width: 10vmin;
    font-size: 3vmin;
}